* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 72px;
}

.header-logo-userdata {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logo img {
  height: 100%;
}

.texto-alterno {
  background-color: aqua;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#user-data {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
#user-data div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#user-name,
#user-type {
  padding: 0.5rem;
}

#user-image {
  height: 100%;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}

.contents-recently-played {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0.5rem;
}

#content-recently-played-tracks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.card-recentyl-played {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
}
.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
}

.card-img {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.card-img img {
  width: 100%;
  height: inherit;
  aspect-ratio: 1/1;
}

.card-parrafo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  text-align: center;
}

.toptracks {
  width: 15%;
  padding: 0.5rem;
}

.filtros-labels {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}

.filtros-labels label,
select {
  padding: 0.5rem;
  width: 100%;
}

#results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.card-datos-track {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: red;
  width: 100%;
}

.track-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  justify-items: center;
  width: 100%;
}

.track-card-img {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.track-card-img img {
  width: 100%;
  height: inherit;
  aspect-ratio: 1 / 1;
}

@media (max-width: 1200px) {
  .toptracks {
    display: none;
  }
  .contents-recently-played {
    width: 100%;
  }
  #user-data {
    display: none;
  }
  .logo,
  .texto-alterno {
    width: 50%;
  }
  .card-parrafo h3,
  p {
    font-size: .5rem;
  }
}
