* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  overflow: auto;
}

p {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

h3 {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 72px;
  background-color: #00aaff;
}

.header-logo-userdata {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logo img {
  height: 100%;
}

.texto-alterno {
  display: flex;
  align-items: center;
}
.texto-alterno p {
  font-size: clamp(1rem, 2vw, 2rem);
}

#user-data {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
#user-data div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#user-image {
  padding: 0px 0.5rem;
  height: 100%;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}

.contents-recently-played {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0.5rem;
}

#content-recently-played-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.card-recentyl-played {
  display: flex;
  justify-content: center;
  flex: 0 1 360px;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.card-recentyl-played:hover {
  transform: scale(1.05);
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
  background-color: #4a5c6a;
  border-radius: 20px;
}

.card-img {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.card-img img {
  width: 100%;
  height: inherit;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}

.card-parrafo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  text-align: center;
  padding: 0.5rem;
}

.toptracks {
  width: 15%;
  padding: 0.5rem;
}

.filtros-labels {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}

.filtros-labels label,
select {
  padding: 0.5rem;
  width: 100%;
}

#results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.card-datos-track {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: red;
  width: 100%;
}

.track-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  justify-items: center;
  width: 100%;
}

.track-card-img {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.track-card-img img {
  width: 100%;
  height: inherit;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#hola{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
  .toptracks {
    display: none;
  }
  .contents-recently-played {
    width: 100%;
  }
  #user-data {
    display: none;
  }
  .header-logo-userdata {
    justify-content: space-around;
  }
  .logo,
  .texto-alterno {
    display: flex;
    width: 50%;
  }
  .texto-alterno {
    justify-content: center;
    text-align: center;
  }
  #content-recently-played-tracks {
    grid-template-columns: repeat(2, 1fr);
  }
}